@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-BoldItalic.woff2") format("woff2"),
    url("../webfonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("../webfonts/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Light.woff2") format("woff2"),
    url("../webfonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-LightItalic.woff2") format("woff2"),
    url("../webfonts/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Italic.woff2") format("woff2"),
    url("../webfonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
 --primary: #07C8F9; 
 --primary-light: #99EAFF; 
 --primary-dark: #2DC5EC; 
 --secundary-dark: #05243d; 
 --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
figure {
  margin: 0;
  font-size: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title-h3 {
  font-size: 5rem;
  line-height: 5rem;
}
.title-h4 {
  font-size: 3rem;
  line-height: 3rem;
}
.title {
  font-weight: 300;
}
.title-uppercase {
  text-transform: uppercase;
}
.title-bebas {
  font-family: "Bebas Neue", sans-serif;
}
.title-decorator {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title-decorator div {
  width: 50px;
  height: 50px;
  background-color: var(--primary-dark);
  border-radius: 50px;
  margin: -10px 0 0;
}
.title-align-center {
  align-self: center;
  justify-self: center;
}
.t-blue-dark {
  color: var(--primary-dark);
}
.t-white {
  color: var(--white);
}
.t-center {
  text-align: center;
}

.btn {
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  display: inline-block;
}
.btn-small {
  line-height: 0.875rem;
  font-size: 0.875rem;
  padding: 0.675rem 1.5rem;
  border-radius: 0.5rem;
}
.btn-big {
  line-height: 1rem;
  font-size: 1.125rem;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  height: 44px;
}

.btn.btn-blue {
  color: var(--white);
  background-color: var(--primary);
}

.btn-outline {
  border: 2px solid;
}
.btn.btn-blue.btn-outline {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

/*HEADER*/
.header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2rem;
  z-index: 999;
  transition: all 0.25s ease-in-out;
}
.header_scrolled {
  background-color: var(--secundary-dark);
  -webkit-box-shadow: 3px 7px 12px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 7px 12px 5px rgba(0, 0, 0, 0.11);
}
.header .header_container {
  position: relative;
  width: 100%;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .header_logo {
  z-index: 99;
}
.header .header_logo_image {
  z-index: 9;
  width: 168px;
}
.header .header_logo_image img {
  width: 100%;
  cursor: pointer;
}
.header .header_menu {
  position: absolute;
  left: 0;
  right: 0;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.5rem;
  top: 0;
}
.header .header_menu a {
  color: var(--white);
  font-weight: 300;
  font-size: 0.875rem;
}
.header .header_menu .current_page_item a, .header .menu .current_page_item a:hover {
  color: var(--primary-light);
  font-weight: bold;
}
.header .header_action {
  z-index: 9;
}
.header_menu_mobile {}
/*HEADER*/

/*HOME*/
.home_brand {
  padding: 2.5rem 0 1.5rem;
  background-color: #07c8f929;
}
.home_brand_grid {
  display: grid;
  grid-template: 1fr / 320px 1fr;
  gap: 2rem;
}
.home_brand_text,
.home_brand_list {
  font-size: 0;
}
.home_brand_text img,
.home_brand_list img {
  max-width: 100%;
}
.home_mission {
  position: relative;
  padding: 2.5rem 0;
}
.home_mission_grid {
  display: grid;
  grid-template: 1fr / 660px 1fr;
  gap: 3rem;
}
.home_mission_image {
  padding: 0 0 250px 0;
  
}
.home_mission_image img {
  max-width: 100%;
}
.home_mission_text {
  padding: 0 0 0 3rem;
  border-left: 1px solid #179BD7;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home_mission_title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem;
}
.home_mission_title_normal {
  font-size: 2.5rem;
}
.home_mission_paragraph {
  font-size: 1.125rem;
  line-height: 1.5rem;
  max-width: 504px;
  margin: 0 0 1.5rem;
}
.home_impact {
  position: relative;
  padding: 460px 0 5.5rem;
  background-color: #07C8F9;
  overflow-x: clip;
}
.home_impact_grid {
  display: grid;
  grid-template: 1fr / 540px 1fr;
  gap: 2rem;
}
.home_impact_float {
  position: absolute;
  background-color: #d7f4ff77;
  backdrop-filter: blur(10px);
  bottom: -403px;
  width: 449px;
  height: 700px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 42px 48px;
  z-index: 9;
}
.home_impact_girl img {
  position: absolute;
  bottom: 0px;
}
.home_impact_title {
  justify-content: center;
}
.home_impact_item {
  display: flex;
  gap: 1.25rem;
}
.home_impact_item_text {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
}
.home_impact_item_text strong {
  font-weight: 600;
}
.home_impact_item img {
  font-size: 0;
}
.home_impact_video {
  max-width: 420px;
  width: 420px;
  justify-self: flex-end;
}
.home_impact_video_content {
  position: relative;
}
.home_impact_video_image {
  position: absolute;
  left: -40px;
  bottom: -40px;
  z-index: 4;
  width: 110px;
}
.home_impact_video_frame {
  position: absolute;
  z-index: 9;
  top: calc(50% - 38px);
  right: -300px;

}
.home_impact_video_source {
  max-width: 420px;
  padding-top: 56.25%;
  border: 12px solid #009fe5;
  border-radius: 45px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 3px 7px 12px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 3px 7px 12px 5px rgba(0, 0, 0, 0.11);
}
.home_impact_video_source iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home_problem {
  background-image: url(../images/home_problems.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem 0;
  border-top: 8px solid #A9EEFF;
  border-bottom: 8px solid #A9EEFF;
}
.home_problem_grid {
  display: grid;
  grid-template: 1fr / 1fr 252px;
  gap: 3.5rem;
}
.home_problem_list {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  justify-content: center;
  gap: 3.5rem;
}
.home_problem_item {
  background-color: #D8ECF5;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 1.25rem;
}
.home_problem_item img {
  max-height: 100px;
  margin: 0 0 1rem;
}
.home_problem_item p {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
}
.home_problem_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*HOME*/

/*FOOTER*/
.footer {}
.footer_top {
  background-color: #D8ECF5;
  padding: 2.75rem 0;
}
.footer_logo_image {
  width: 168px;
}
.footer_logo_image img {
  max-width: 100%;
}
.footer_top_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer_top_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}
.footer_top_content p {
  color: #1CA9E8;
  font-size: 1.25rem;
}
.footer_bottom {
  padding: 2.75rem 0;
  background-color: #005A83;
}
.footer_bottom_wrapper {
  max-width: 768px;
  margin: 0 auto 2.5rem;
  display: grid;
  grid-template: 1fr / 0.6fr 0.4fr;
  gap: 2rem;
}
.footer_bottom_border {
  border-right: 1px solid #ffffff;
}
.footer_bottom_title {
  font-size: 2rem;
  font-weight: 300;
  color: var(--white);
  margin: 0 0 1.25rem;
}
.footer_bottom_content {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5rem 0;
}
.footer_bottom_link {
  display: inline-flex;
  align-self: flex-start;
  margin: 0 0 1.5rem;
  gap: 1rem;
  color: var(--white);
}
.footer_bottom_link:last-child {
  margin: 0;
}
.footer_bottom_link img {
  width: 2rem;
}
.footer_bottom_menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer_bottom_menu a img {
 max-width: 100%;
 width: auto;
}
.footer_bottom_menu a {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_bottom_copy {
  display: flex;
  padding: 2.75rem 0 0;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 0.875rem;
  border-top: 1px solid #ffffff;
}
/*FOOTER*/

.home_impact_video_mobile_grid,
.home_impact_video_mobile,
.banner_action_volunteer,
.home_problem_grid_mobile,
.home_impact_girl_mobile,
.home_impact_float_mobile {
  display: none;
}

@media screen and (max-width: 1320px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1280px) {
  .header .header_action,
  .home_impact_video_frame,
  .home_impact_float,
  .home_impact_video_content, 
  .home_impact_girl, 
  .home_mission_image_desktop {
    display: none;
  }
  .header .header_menu {
    left: auto;
  }
  .banner_text {
    padding: 0 3.5rem;
  }
  .home_brand_grid {
    grid-template: 1fr / 1fr;
  }
  .home_brand_text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_brand_text img {
    max-width: 450px;
  }
  .home_mission_grid {
    grid-template: 1fr / 1fr 1fr;
  }
  .home_mission_image {
    padding: 0;
  }
  .home_impact_video_mobile_grid .home_impact_video_content_mobile,
  .home_impact_video_mobile,
  .banner_action_volunteer,
  .home_problem_grid_mobile,
  .home_impact_girl_mobile,
  .home_mission_image_mobile {
    display: flex;
  }
  .home_impact {
    padding: 0;
  }
  .home_problem {
    display: none;
  }
  .home_impact_video {
    display: none;
  }
  .home_problem_grid_mobile {
    padding: 4rem 0;
    flex-direction: column;
    z-index: 9;
  }
  .home_problem_list {
    grid-template: 1fr / repeat(2, 1fr);
    gap: 2rem;
  }
  .home_impact_girl_mobile img {
    position: absolute;
    bottom: 0;
    right: -100px;
  }
  .home_problem_title {
    margin: 0 0 2rem;
  }
  .home_impact_video_mobile_content {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    width: 100%;
  }
  .home_impact_video_mobile_left {
    position: relative;
    background-color: #2DC7EE;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    max-width: 895px;
    margin: 0 0 3.5rem;
    padding-right: calc(calc(100% - 980px) / 2);
    padding-left: 2rem;
    align-self: flex-end;
    justify-content: flex-start;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .home_impact_video_mobile_body {
    width: 350px;
  }
  .home_impact_video_mobile_body p {
    font-size: 20px;
    line-height: 28px;
    color: var(--white);
    margin: 0 0 2rem;
  }
  .home_impact_video_mobile_body strong {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: var(--white);
  }
  .home_impact_float_mobile {
    display: block;
    position: absolute;
    background-color: #d7f4ffde;
    backdrop-filter: blur(10px);
    top: 0;
    right: 2rem;
    width: 449px;
    height: 700px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 42px 48px;
    z-index: 9;
  }
  .home_impact_video_mobile_grid {
    width: calc(100% - 4rem);
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    max-width: calc(100% - 8rem);
    margin: 0 auto;
  }
  .home_impact_video_mobile_grid .home_impact_video_source {
    width: 100%;
    max-width: 100%;
  }
  .home_mission_image_mobile {
    border: 10px solid #07C8F9;
    min-height: 700px;
  }
  .home_mission_image_mobile img {
    object-fit: cover;
  }
  .home_mission_text {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 980px) {
  .header nav {
    display: none;
  }
  .home_mission_image_mobile {
    display: none;
  }
  .home_mission_image_desktop {
    display: flex;
  }
  .home_mission_image_desktop {
    width: 100%;
  }
  .home_mission_grid {
    grid-template: 1fr / 1fr;
  }
  .home_impact_grid {
    grid-template: 1fr / 1fr;
  }
  .home_problem_title {
    align-items: center;
  }
  .home_problem_grid_mobile {
    padding: 3rem 0 580px;
    z-index: 0;
  }
  .home_impact_girl_mobile {
    display: flex;
    justify-content: center;
  }
  .home_impact_girl_mobile img {
    height: 700px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .home_impact_float_mobile {
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .home_impact_video_mobile_left {
    max-width: calc(100% - 4rem);
    padding: 1.5rem;
    align-self: center;
    border-radius: 1.5rem;
    display: grid;
    margin: 0 0 760px;
  }
  .home_impact_video_mobile_body {
    width: 100%;
  }
  .home_impact_video_mobile_grid {
    justify-content: center;
    grid-template: 1fr / 1fr;
    max-width: 595px;
  }
  .home_problem_item p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer_top_wrapper {
    justify-content: space-between;
  }
  .footer_top_content {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .banner_wrapper {
    align-items: center;
  }
  .home_brand {
    display: none;
  }
  .home_problem_list {
    grid-template: 1fr / 1fr;
  }
  .home_problem_item {
    padding: 2rem 1.5rem;
  }
  .home_problem_grid_mobile {
    padding: 3rem 0 615px;
  }
  .home_impact_video_mobile_grid {
    max-width: 450px;
  }
  .footer_top_wrapper {
    flex-direction: column;
  }
  .footer_bottom_wrapper {
    grid-template: 1fr / 1fr;
    gap: 0;
    margin: 0;
  }
  .footer_bottom_border {
    border-right: none;
    border-bottom: 1px solid #ffffff;
    margin: 0 0 2rem;
  }
  .footer_bottom_content {
    padding: 0 0 2.5rem;
  }
} 
@media screen and (max-width: 595px) {
  .home_impact_float_mobile {
    width: 100%;
    padding: 1.5rem 1rem;
  }
  .banner_text {
    padding: 0 2rem;
    width: 100%;
  }
  .banner_text img {
    max-width: 100% !important;
  }
  .home_mission_text {
    padding: 0;
    border-left: none;
  }
  .title-decorator div {
    width: 25px;
    height: 25px;
  }
  .home_mission_title_normal {
    font-size: 2rem;
  }
  .title-h4 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .home_impact_item {
    gap: 1rem;
  }
  .home_impact_float_mobile {
    height: 640px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .home_impact_video_mobile_left {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .home_impact_video_mobile_left {
    margin: 0 0 680px;
  }
}