.testimonials {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
.testimonials_title {
  margin: 0 0 2.5rem;
}
.testimonials_list {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 2rem;
}
.testimonials_item {
  background-color: #D8ECF5;
  border-radius: 14px;
  padding: 1rem;
  display: grid;
  grid-template: 1fr / 250px 1fr;
  gap: 2.5rem;
}
.testimonials_item_image {
  max-width: 100%;
  border-radius: 0.875rem;
}
.testimonials_item_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.testimonials_item_body {

}
.testimonials_item_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #15B7FF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 28px;
  padding: 0.25rem 1rem;
  margin: 0 0 1.25rem;
  max-width: 270px;
}
.testimonials_item_year {
  color: var(--white);
  font-size: 0.875rem;
}
.testimonials_item_name {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}
.testimonials_item_text {
  font-size: 0.75rem;
  color: #1CA9E8;
  margin: 0 0 0.5rem;
}
.testimonials_item_text:last-child {
  margin: 0;
}
.testimonials_item_footer {
  color: #1CA9E8;
  font-size: 0.875rem;
  font-weight: 600;
}


@media screen and (max-width: 1280px) {
  .testimonials_list {
    grid-template: 1fr / 1fr;
  }
  .testimonials_item_text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .testimonials_item_footer {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .testimonials_item {
    grid-template: 1fr / 1fr;
  }
  .testimonials_item_head {
    max-width: 100%;
  }
}